
:root {
  --margin: 10px;
}





body
{
    padding: 10px;
    background-color: #f2e6e6;
    font-family: 'Lobster', cursive;
}

header {
    background: linear-gradient(to bottom right, #F38CAC, #F4C2C2);
    border-radius: 25px;
    font-size: 24px;
    height: 200px;
    margin: 18px auto;
    padding: 5px;
    text-align: center;
    width: 80%;

}

h1 {
     text-align: center;
     font-size: 48px;
}

p{
   font-size: 20px;
}

.flex-container p {
  background-color: #ffffff;
}

.message {
  font-size: 18px;
  height: 150px;
  margin: 25px auto;
  text-align: center;
  width: 80%;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.a {
  width: calc((100%/2) - (var(--margin)* 2));
}


.box {
  background: linear-gradient(to bottom right, #F38CAC, #F4C2C2);
  border-radius: 5px;
  margin: var(--margin);
  height: 50px;
}



.flex-container {
  background-color: #87ceeb;
  display: flex;
  margin: 10px;
}

#word-blanks {
   font-size: 50px;
   height: 150px;
   margin: 18px auto;
   text-align: center;
   width: 80%;
}

#guesses {
    border-radius: 15px;
    background: #FFDBE9;
    padding: 10px;
    width: 200px;
    height: 10px;
}
