/* MAIN STYLES */


:root {
  --margin: 10px;
}


body
{
    padding: 10px;
    background-color: #fff9e3;
    font-family: 'Lobster', cursive;
}


header {
    background: linear-gradient(to bottom right, #de6262,  #ffb88c);
    border-radius: 25px;
    font-size: 24px;
    height: 200px;
    margin: 18px auto;
    padding: 5px;
    text-align: center;
    width: 80%;

}


h1 {
     text-align: center;
     font-size: 3rem;
}


p{
   font-size: 20px;
   font-family: 'Muli', sans-serif;
}


/* Containers  */


.container-box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}


.a {
  width: calc((100%/2) - (var(--margin)* 2));
}


.box {
  background: linear-gradient(to bottom right, #de6262,  #ffb88c);
  border-radius: 5px;
  margin: var(--margin);
  height: 50px;
}

/* BUTTONS */

.btn {

font-size: 1.8rem;
padding: 1rem 1rem;
width: 20rem;
text-align: center;
/* border: 0.1rem solid #de6262; */
margin-bottom: 1rem;
text-decoration:none;
color: 	#000000;
background:linear-gradient(to bottom right, #de6262,  #ffb88c);
}

.btn:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(253,121,168, 0.8);
  transform: translateY(-0.1rem);
  transition: transform 150ms;

}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;

}
